{{- $listsToProcess := dict "envMap" "extraEnvs" "secretEnvMap" "extraSecretEnvs" -}}

{{- range $mapKey, $listKey := $listsToProcess }}
  {{- if hasKey $.Values $mapKey }}
{{ $listKey }}:
    {{- range $key, $val := index $.Values $mapKey }}
  - name: {{ $key }}
      {{- /* Check if the value is a complex dictionary like valueFrom */ -}}
      {{- if kindIs "map" $val }}
{{ toYaml $val | indent 4 }}
      {{- /* Otherwise, format it as a standard quoted string */ -}}
      {{- else }}
    value: {{ $val | quote }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}